.container{
    width: 375px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.XO{
    color: white;
    font-size: 90px;
    text-align: center;
    height: 100px;
    margin: 2px;
    width: 100px;
    background-color: aquamarine;
    float: left;
    cursor: pointer;
    

}
.alert{
    width: 100px;
    background-color: aquamarine;
    width: 287px;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 5px auto;
    position: relative;
    right: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    

}
span{
    color: #ff0;
}

@media screen and (max-width:480px) {
    .alert{
        width: 80%;
         margin: 5px auto;
         position: relative;
         right: 27px;
         padding: 14px 10px;
         font-size: 60px;

    }
    .container{
        width: 98%;
        margin: 5px auto;
    }
    .XO{
        width: 120px;
        height: 120px;
        font-size: 100px;
    }
    .container-t{
        position: relative;
        left: 6%;

    }
    
}
